:root {
    --principal_gradient_90: linear-gradient(90deg, #048FF7, #07FAF2);
    --principal_gradient_45: linear-gradient(135deg, #048FF7, #07FAF2);
    --principal_color: #07FAF2;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
@font-face {
    font-family: HelveticaNeue;
    src: url('./assets/Font_Family/HelveticaNeueMedium.ttf');
}

/*//////////Components Styles//////////*/
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
    color: #707070;
}
button{
    width: 100%;
    height: 50px;

    margin: 0 auto;

    border: none;
    border-radius: 25px;

    background-color: #ED2529;

    font-size: 16px;
    font-weight: 600;
    color: white;

    position: relative;
}
button:hover{
    cursor: pointer;
    background-color: #ed2528a6;
}
button::after{
    content: url('./assets/Check_Button.svg');
    position: absolute;
    right: 30px ;
}

/*//////////Public Classes//////////*/
.title{
    font-family: HelveticaNeue;
    font-size: 18px;
}
.bold{
    font-weight: 700;
    font-size: 16px;
}
.icon{
    margin-left: 8px;
    transform: translateY(2px);
}
.decorator{
    min-width: 48px;
    max-width: fit-content;

    text-align: center;
    border-bottom: 2px solid var(--principal_color);
}
.disclaimer{
    display: flex;

    font-size: 11px;
    font-weight: 700;
}
.f_row{
    display: flex;
    flex-direction: row;

    gap: 10px;
}
.f_bottom{
    display: none;
}
.hide{
    display: none !important;
}

/*//////////Top//////////*/
#top{
    width: 100vw;
    background-image: var(--principal_gradient_90);
}
#top_layout{
    width: fit-content;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 0 30px;

    display: flex;

    justify-items: center;
    align-items: center;

    overflow: initial;
    
}
#top_layout_center{
    display: grid;
    grid-template-rows: repeat(2, auto);

    justify-items: center;
    align-items: center;

    position: relative;

    overflow: initial;
}
#congrats{
    width: 80%;
}
#top_message{
    text-align: center;
    font-size: 22px;
    font-weight: 700;

    color: white;
}
#top_name{
    font-style: italic;
}
#logo{
    position: absolute;

    top: 12px;
    left: 0;

    z-index: 2;
}
#logo_mobile{
    width: 100px;
    position: absolute;

    top: -40px;
    left: 0;

    z-index: 2;
}

/*//////////Principal//////////*/
#principal_layout{
    width: fit-content;
    margin: 10px auto;
    padding: 20px;

    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;

    gap: 50px;
}

/*//////////Badges//////////*/
#badges{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    align-items: center;

    text-align: center;
    white-space: nowrap;

    gap: 8px;
}
.badge{
    display: flex;
    flex-direction: row;

    align-items: flex-start;

    text-align: center;
    white-space: nowrap;

    gap: 14px;
}
#badges_extended{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    grid-auto-flow: column;

    text-align: center;
    white-space: nowrap;

    gap: 30px;
}
#badges > *{
    margin: 0 auto;
}
#badges_extended > div > *{
    width: 140px;
    max-width: none;
    margin: 0;
}

/*//////////Columns//////////*/
#column_one, #column_two{
    display: grid;
    grid-auto-rows: auto;
    gap: 20px;
}

/*//////////Cards//////////*/
#cards_layout{
    display: grid;
    grid-auto-rows: auto;
    overflow: initial;
}
.card{
    width: 95%;
    margin: 8px;
    padding: 16px 8px;
    
    display: flex;
    flex-direction: row;

    gap: 8px;

    border-radius: 14px;

    box-shadow: 0 5px 10px 0 #00000041;
}
.card  .decorator{
    max-width: max-content;
    border: none;

    text-align: left;
}
.card_icon{
    height: 52px;
    width: 52px;

    border-radius: 50%;
    background-image: var(--principal_gradient_45);
}
.card_icon > picture{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*//////////Banc account data//////////*/
#banc_account_data{
    display: grid;
    grid-template-columns: min-content 250px;

    gap: 13px;

    text-align: right;
}
#banc_account_data_cat{
    display: grid;
    grid-template-columns: min-content auto;

    gap: 13px;

    text-align: right;
}

/*//////////Information//////////*/
#information{
    display: flex;
    flex-direction: column;

    gap: 16px;
}
#information_top{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}
#information_bottom{
    display: grid;
    grid-template-columns: max-content auto;

    gap: 16px;
}
#information_text{
    display: grid;
    grid-auto-rows: minmax(42px fit-content);

    gap: 11px;
}

/*//////////Information//////////*/
#whatsapp{
    display: grid;
    grid-template-columns: min-content 140px;
}
#whatsapp_decorator{
    height: fit-content;
    margin-left: 6px;
    padding-left: 10px;
    border-left: 4px solid var(--principal_color) ;
}


@media screen and (min-width: 570px) /*Tablet*/ {
    button{
        width: 350px;
    }
    .decorator{
        margin: 0 auto;
        text-align: center !important;
        border-bottom: 2px solid var(--principal_color) !important;

        margin-bottom: 5px;
        padding-bottom: 8px;
    }
    #top_layout{
        height: 260px;
        margin-top: 40px;
        margin-bottom: 0;
    }
    #logo_mobile{
        width: 110px;
    }
    #principal_layout{
        grid-template-columns: 540px;
    }
    #cards_layout{
        grid-template-columns: repeat(3, 1fr);
    }
    .card{
        width: 140px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
    }
    .standard_gap{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    #information_text{
        grid-auto-rows: 42px;
        align-items: center;
        overflow: hidden;
    }
}

@media screen and (min-width: 1130px) /*Desk Top*/ {
    .f_bottom{
        height: 100%;
        display: flex;
        align-items: flex-end;
        position: relative;
    }
    #top_layout{
        display: grid;
        grid-template-columns: repeat(3, 385px);
        margin-top: 0;
    }
    #logo_mobile{
        display: none;
    }
    #principal_layout{
        grid-template-columns: 480px 540px;
        gap: 90px;
    }
}